.wp-block-christian-codez-timer {
  margin-top: 2rem;

  .countdown-container {
    position: relative;
    padding-bottom: 1.5rem;
    max-width: 90%;
    margin: 0 auto;

    .countdown-timer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      @media (min-width: 768px) {
        gap: 1rem;
      }
  
      .countdown-item {
        background-color: #000;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        gap: 0.25rem;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: clamp(32px, 8vw, 80px);
  
        .countdown-number {
          color: #fff;
          font-weight: bold;
          font-size: clamp(14px, 4vw, 32px);
          line-height: 1;
        }
  
        .countdown-label {
          color: #fff;
          font-weight: normal;
          text-align: center;
          font-size: clamp(10px, 2vw, 16px);
          line-height: 1;
        }
      }
    }
  }
}